
# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Django stuff:
*.log
local_settings.py
db.sqlite3


# dotenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# virtualenv
.venv/
venv/
ENV/
env.bak/
venv.bak/


# Intelj
.idea/
